.rings-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure rings don't overflow the viewport */
  }
  
  .rig {
    position: absolute;
    border-radius: 50%;
    border-style: dashed;
    border-color: white;
    box-sizing: border-box;
  }
  
  
  @keyframes orbit {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .orbit-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .orbit-container img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  